<%- include("partials/header") -%>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
        </nav>
      </div>
    </header>
  
    <main class="px-3">
      <h1>Oops!</h1>
      <p class="lead">Something went wrong with your search.</p>
      <p class="lead">Press the button below to try again.</p>
      <p class="lead"><em>Make sure to check your spelling</em></p>


      <a class="btn btn-sm btn-outline-dark" href="/" role="button">Try again</a>

<%- include("partials/footer.ejs") -%> 
